body, html {
	background-color: #f5f5f5;
	color: #303942;
	font: 12px/1.5 'Segoe UI', Tahoma, sans-serif;
	margin: 0;
	width: 100%;
}

h1 {
	text-align: center;
	text-shadow: 0 1px 1px #fff;
	width: 100%;
}

#content {
	margin: 0 auto;
	width: 960px;
}

#map {
	border: 1px solid #ccc;
	float: left;
	margin-top: 42px;
	width: 300px;
	height: 444px;
}

#calendar {
	float: right;
	width: 600px
}

#calendar .fc-content {
	background-color: #fff;
}

#calendar .drop-container-over {
	background-color: #FFF0F7;
}